.app {
  padding: 2em;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
button {
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #bfbfbf;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.listItem {
  padding: 0.5em;
  margin: 2px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  border: solid 1px black;
  cursor: pointer;
}
.activeItem {
  padding: 0.5em;
  margin: 2px;
  background-color: #ee5576;
  color: rgb(250, 250, 250);
  border: none;
  border-radius: 5px;
  border: solid 1px rgb(133, 22, 22);
  cursor: pointer;
}
p {
  font-size: .9em;
}
